<div>
  <div>
  <% if user_signed_in? %>
    <h1>
      Menu for <%= @event.event_name %> <%= @event.event_date.strftime("%m/%d/%Y") %>
    </h1>

    <div>
      <div>
        <a href="/menus">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_menu/<%= @the_menu.id %>">
          Delete menu
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Roast beef pans
      </dt>
      <dd>
        <%= @the_menu.roast_beef_pans %>
      </dd>

      <dt>
        Chicken pans
      </dt>
      <dd>
        <%= @the_menu.chicken_pans %>
      </dd>

      <dt>
        Salad pans
      </dt>
      <dd>
        <%= @the_menu.salad_pans %>
      </dd>

      <dt>
        Vegetable pans
      </dt>
      <dd>
        <%= @the_menu.vegetable_pans %>
      </dd>

      <dt>
        Rice pans
      </dt>
      <dd>
        <%= @the_menu.rice_pans %>
      </dd>

      <dt>
        Sweet potato pans
      </dt>
      <dd>
        <%= @the_menu.sweet_potato_pans %>
      </dd>

      <dt>
        Dessert pans
      </dt>
      <dd>
        <%= @the_menu.dessert_pans %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_menu.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_menu.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit menu
    </h2>

    <form action="/modify_menu/<%= @the_menu.id %>"  method="post" >
      <div>
        <label for="roast_beef_pans_box">
          Roast beef pans
        </label>

        <input type="number" id="roast_beef_pans_box" name="query_roast_beef_pans" value="<%= @the_menu.roast_beef_pans %>">
      </div>

      <div>
        <label for="chicken_pans_box">
          Chicken pans
        </label>

        <input type="number" id="chicken_pans_box" name="query_chicken_pans" value="<%= @the_menu.chicken_pans %>">
      </div>

      <div>
        <label for="salad_pans_box">
          Salad pans
        </label>

        <input type="number" id="salad_pans_box" name="query_salad_pans" value="<%= @the_menu.salad_pans %>">
      </div>

      <div>
        <label for="vegetable_pans_box">
          Vegetable pans
        </div>

        <input type="number" id="vegetable_pans_box" name="query_vegetable_pans" value="<%= @the_menu.vegetable_pans %>">
      </div>

      <div>
        <label for="rice_pans_box">
          Rice pans
        </label>

        <input type="number" id="rice_pans_box" name="query_rice_pans" value="<%= @the_menu.rice_pans %>">
      </div>

      <div>
        <label for="sweet_potato_pans_box">
          Sweet potato pans
        </label>

        <input type="number" id="sweet_potato_pans_box" name="query_sweet_potato_pans" value="<%= @the_menu.sweet_potato_pans %>">
      </div>

      <div>
        <label for="dessert_pans_box">
          Dessert pans
        </label>
        <input type="number" id="dessert_pans_box" name="query_dessert_pans" value="<%= @the_menu.dessert_pans %>">
      </div>
      <div>
        <label for="event_id_box"></label>
        <input type="hidden" id="event_id_box" name="query_event_id" value="<%= @the_menu.event_id %>">
      </div>

      <button type="submit">Update Menu</button>
    </form>
  </div>
</div>

<hr>

<hr>
  <div>
  <form action="/sign_up_for_menu_item" method="post">
    <input type="hidden" name="menu_id" value="<%= @the_menu.id %>">
    <label for="roast_beef_pans_quantity">Roast Beef Pans:</label>
    <input id="roast_beef_pans_quantity" type="number" name="roast_beef_pans_quantity" min="1" max="<%= @the_menu.roast_beef_pans %>">
   

</div>


    <label for="chicken_pans_quantity">Chicken Pans:</label>
    <input id="chicken_pans_quantity" type="number" name="chicken_pans_quantity" min="1" max="<%= @the_menu.chicken_pans %>">


</div>


    <label for="salad_pans_quantity">Salad Pans:</label>
    <input id="salad_pans_quantity" type="number" name="salad_pans_quantity" min="1" max="<%= @the_menu.salad_pans %>">


</div>


    <label for="vegetable_pans_quantity">Vegetable Pans:</label>
    <input id="vegetable_pans_quantity" type="number" name="vegetable_pans_quantity" min="1" max="<%= @the_menu.vegetable_pans %>">

</div>


    <label for="rice_pans_quantity">Rice Pans:</label>
    <input id="rice_pans_quantity" type="number" name="rice_pans_quantity" min="1" max="<%= @the_menu.rice_pans %>">

</div>

    <label for="sweet_potato_pans_quantity">Sweet Potato Pans:</label>
    <input id="sweet_potato_pans_quantity" type="number" name="sweet_potato_pans_quantity" min="1" max="<%= @the_menu.sweet_potato_pans %>">

</div>


    <input type="hidden" name="menu_id" value="<%= @the_menu.id %>">
    <label for="dessert_pans_quantity">Dessert Pans:</label>
    <input id="dessert_pans_quantity" type="number" name="dessert_pans_quantity" min="1" max="<%= @the_menu.dessert_pans %>">
<div>
    <button type="submit">Sign Up</button>
    </div>
  </form>
</div>
<hr>
<% else %>
  <p>You must be signed in to sign up for menu items.</p>
<% end %>
