<div>
  <div>
    <h1>
     Event Details: <%= @the_event.event_name %> <%= @the_event.event_date.strftime("%m/%d/%Y") %> 
    </h1>

    <div>
      <div>
        <a href="/events">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_event/<%= @the_event.id %>">
          Delete event
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Event date
      </dt>
      <dd>
        <%= @the_event.event_date %>
      </dd>

      <dt>
        Event name
      </dt>
      <dd>
        <%= @the_event.event_name %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_event.user_id %>
      </dd>

    

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit event
    </h2>

    <form action="/modify_event/<%= @the_event.id %>"  method="post" >
      <div>
        <label for="event_date_box">
          Event date
        </label>

        <input type="date" id="event_date_box" name="query_event_date" value="<%= @the_event.event_date %>">
      </div>

      <div>
        <label for="event_name_box">
          Event name
        </label>

        <input type="text" id="event_name_box" name="query_event_name" value="<%= @the_event.event_name %>">
      </div>





      <button>
        Update event
      </button>
    </form>
  </div>
</div>


<hr>

<div>
  <div>
    <h2>
      Add Menu
    </h2>
    <form action="/insert_menu" method="post">
      <!-- Assuming the Menu model has attributes like roast_beef_pans, chicken_pans, etc. -->
      <div>
        <label for="roast_beef_pans_box">Roast beef pans:</label>
        <input type="number" id="roast_beef_pans_box" name="query_roast_beef_pans">
      </div>

      <div>
        <label for="chicken_pans_box">Chicken pans:</label>
        <input type="number" id="chicken_pans_box" name="query_chicken_pans">
      </div>

        <div>
        <label for="chicken_pans_box">Chicken pans:</label>
        <input type="number" id="chicken_pans_box" name="query_chicken_pans">
      </div>

      <div>
        <label for="salad_pans_box">Salad pans:</label>
        <input type="number" id="salad_pans_box" name="query_salad_pans">
      </div>

      <div>
        <label for="vegetable_pans_box">Vegetable pans:</label>
        <input type="number" id="vegetable_pans_box" name="query_vegetable_pans">
      </div>

      <div>
        <label for="rice_pans_box">Rice pans:</label>
        <input type="number" id="rice_pans_box" name="query_rice_pans">
      </div>

      <div>
        <label for="sweet_potato_pans_box">Sweet potato pans:</label>
        <input type="number" id="sweet_potato_pans_box" name="query_sweet_potato_pans">
      </div>

      <div>
        <label for="dessert_pans_box">Dessert pans:</label>
        <input type="number" id="dessert_pans_box" name="query_dessert_pans">
      </div>

      <!-- Add additional fields for other menu items... -->

 
      <div>
        <label for="event_user_id_box"></label>
        <input type="hidden" id="event_user_id_box" name="query_user_id" value="<%= @the_event.user_id %>">
      </div>
      <div>
        <label for="event_id_box"></label>
        <input type="hidden" id="event_id_box" name="query_event_id" value="<%= @the_event.id %>">
      </div>

      <button type="submit">Add Menu</button>
    </form>
  </div>
</div>
